.Order {
	width: 80%;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	padding: 10px;
	margin: 10px auto;
	box-sizing: border-box;
}
.Error {
	width: 30%;
	border: 1px solid #808080;
	padding: 2%;
	box-sizing: border-box;
	text-transform: uppercase;
	margin: 0 auto;
}