.AuthForm {
}

    .AuthForm input {
        display: block;
        width: 70%;
        min-width: 200px;
        padding: 8px 15px;
        font-family: 'Baloo 2', cursive;
        box-sizing: border-box;
        margin: 15px auto;
        font-size: 20px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ddd;
        transition: all .3s ease-out;
    }

        .AuthForm input:focus,
        .AuthForm input:active,
        .AuthForm input:hover {
            background-color: #ddd;
        }

    .AuthForm textarea {
        display: block;
        resize: none;
        width: 70%;
        min-width: 200px;
        padding: 8px 15px;
        font-family: 'Baloo 2', cursive;
        box-sizing: border-box;
        margin: 15px auto;
        font-size: 20px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ddd;
        transition: all .3s ease-out;
    }

    .AuthForm select {
        display: block;
        resize: none;
        width: 70%;
        min-width: 200px;
        padding: 8px 15px;
        font-family: 'Baloo 2', cursive;
        box-sizing: border-box;
        margin: 15px auto;
        font-size: 20px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ddd;
        transition: all .3s ease-out;
        background-color: #fff;
    }

    .AuthForm button {
        width: 70%;
        font-weight: 200;
        font-size: 20px;
        outline: none;
        font-family: 'Baloo 2', cursive;
        background: #7ACFD6;
        opacity: .7;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #ddd;
        padding: 10px 15px;
        box-sizing: border-box;
        text-align: left;
        border-radius: 5px;
        transition: opacity 0.3s ease-in;
        cursor: pointer;
    }

        .AuthForm button:disabled {
            background-color: grey;
            opacity: 1;
            cursor: none;
        }

        .AuthForm button div {
            transform: scale(0.5);
            height: 15px;
            width: 15px;
            float: right;
            position: relative;
            left: -15px;
            top: -5px;
            margin: 0;
            padding: 0;
        }

        .AuthForm button:hover {
            opacity: 1;
        }

.formDiv {
    width: 70%;
    margin: 50px auto;
}

.error {
    color: #c3272a;
}

.Pridat {
    text-align: left;
    cursor: pointer;
    width: 70%;
    text-decoration: underline;
}


@media (max-width: 1000px) {
    .formDiv {
        width: 80%;
    }
}


@media (max-width: 800px) {
    .AuthForm input,
    .AuthForm textarea,
    .AuthForm select,
    .AuthForm button {
        width: 100%;
        opacity: 1;
    }
}



@media (max-width: 500px) {
    .formDiv {
        width: 95%;
    }
}
