.Imput {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 2%
}

.InputElement {
	outline: none;
	border: 1px solid #ccc;
	font:  inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	transition: all .3s ease-out;
}

.textarea {
	outline: none;
	border: 1px solid #ccc;
	font: inherit;
	padding: 6px 10px;
	display: block;
	height: 150px;
	margin: 0 auto;
	box-sizing: border-box;
}

.InputElement:focus {
	outline: none;
}

.Invalid {
	color: red;
	border: 1px solid red;
}
.ValidationError {
	color: #c3272a;
	margin: 5px 0;
} 