.Accommodation {
    margin: 50px  auto;
    text-align: left;
}



.Text {
    width: 65%;
    margin: 20px auto;
}

.DalsieInfo {
    border-top: 1px solid #ddd;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

.DalsieInfo h3 {
    margin-bottom: 0;
}

.DalsieInfo p {
    margin-top: -5px;
    line-height: 1.2em;
}

.Kontakt {
    width: 40%;
    display: inline-block;
    min-width: 300px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10% 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px #ccc;
}

.Kontakt strong {
    margin-right: 10px;
}


/* IMAGES */

.Accommodation img {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 0;
}

.Images img:nth-child(1):nth-last-child(1) {
    width: 100%;
}


.Images img:nth-child(1):nth-last-child(2),
.Images img:nth-child(2):nth-last-child(1) {
    width: 50%;
}


.Images img:nth-child(1):nth-last-child(3),
.Images img:nth-child(2):nth-last-child(2),
.Images img:nth-child(3):nth-last-child(1) {
    width: 33.3333%;
}


.Images img:nth-child(1):nth-last-child(4),
.Images img:nth-child(2):nth-last-child(3),
.Images img:nth-child(3):nth-last-child(2),
.Images img:nth-child(4):nth-last-child(1) {
    width: 25%;
}


@media (max-width: 1150px) {
    .Kontakt {
        display: block;
        margin: 5% auto;
    }
}

@media (max-width: 1000px) {

    .Images img {
        display: block;
        min-width: 100%;
    }

    .Text {
        width: 80%;
        text-align: justify;
    }

    .Text h1 {
        text-align: left;
    }
}


@media (max-width: 675px) {
    .Kontakt {
        width: 100%;
    
    }

}


@media (max-width: 350px) {
    .Kontakt {
        font-size: 13px;
        min-width: 0;
    }
}