.AddHotel {
    text-align: center;
    width: 100%;
    overflow: hidden;
    animation: fadeIn 3s ease-out;
}

.Why > p {
    font-size: 25px;
    width: 40%;
    margin: 0 auto 100px auto;
}

.Why h1 {
    margin: 100px auto 0 auto;
    width: 40%;     
    font-size: 45px;
}

.Steps {
    padding: 15px;
    position: relative;
    right: -32%;
    border: 1px solid black;
    margin: 50px auto 0 auto;
    width: 30%;
    border-radius: 7em;
    animation: slideInToLeft 2s ease-out forwards;
}

.Steps h2 {
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 0;
    padding: 0;
}

    .Steps h3 {
        font-weight: normal;
        font-size: 20px;
        margin-top: 0;
        padding: 0;
    }


@keyframes slideInToLeft {
    0% {
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0);
        opacity: 1;
    }


    100% {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 1;
    }
}


@media (max-width: 1200px) {
    .AddHotel p,
    .AddHotel h1 {
        width: 60%;
        text-align: left;
        margin: 25px auto;
    }

    .AddHotel p {
        font-size: 14px;
    }

    .AddHotel h1 {
        font-size: 30px;
    }

    .Steps {
        width: 46%;
        right: -48%;
    }
}

@media (max-width: 675px) {
    .AddHotel p,
    .AddHotel h1 {
        width: 90%;
        text-align: left;
        margin: 15px auto;
    }

    .AddHotel p {
        font-size: 17px;
    }

    .AddHotel h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }



    .Steps h2 {
        line-height: 1em;
        font-size: 30px;
    }

    .Steps h3 {
        line-height: 1em;
        font-size: 15px;
    }

    .button {
        border-radius: 0px;
        background: #7ACFD6;
        color: white;
    }
}


@media (max-width: 500px) {
    .Steps {
        width: 70%;
        right: -78%;
    }
}
