.AddHotel {
    text-align: center;
    width: 100%;
    overflow: hidden;
    animation: fadeIn 3s ease-out;
}

.SlideOut {
    animation: slideInToLeft .5s ease-in forwards;
}

.AddHotel p {
    font-size: 25px;
    width: 40%;
    margin: 0 auto 100px auto;
}

.AddHotel h1 {
    margin: 100px auto 0 auto;
    width: 40%;     
    font-size: 45px;
}

.button {
    border: 1px solid #7ACFD6;
    border-radius: 5px;
    padding: 15px;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
}

.Steps {
    padding: 15px;
    position: relative;
    right: -32%;
    border: 1px solid black;
    margin: 50px auto 0 auto;
    width: 30%;
    border-radius: 7em;
    animation: slideInToLeft 2s ease-out forwards;
}

.Steps h2 {
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 0;
    padding: 0;
}

    .Steps h3 {
        font-weight: normal;
        font-size: 20px;
        margin-top: 0;
        padding: 0;
    }

.button:hover {
    background: #7ACFD6;
    color: #fff;
}

.More {
    margin-bottom: 50px;
}

.More h3 {
    margin-bottom: 30px;
}

@keyframes slideInToLeft {
    0% {
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0);
        opacity: 1;
    }
  

    100% {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@media (min-width: 676px) {

    .AddHotel img {
        width: 100%;
    }

    .ImgDiv {
        width: 200%;
    }

        .ImgDiv img {
            display: inline-block;
            width: 50%;
        }

    .Behind {
        opacity: 0.6;
    }

    .ImgAnimate {
        position: relative;
        animation: slideInToLeft 3s cubic-bezier(.17,.67,.32,1.03) forwards;
    }
}


@media (max-width: 1200px) {
    .AddHotel p,
    .AddHotel h1 {
        width: 60%;
        text-align: left;
        margin: 25px auto;
    }
    .AddHotel p {
        font-size: 14px;
    }

    .AddHotel h1 {
        font-size: 30px;
    }

    .Steps {
        width: 46%;
        right: -48%;
    }
    
}



    @media (max-width: 675px) {
        .AddHotel img {
            width: 170%;
            margin-top: 15px;
        }

        .Behind {
            display: none;
        }

        .AddHotel p,
        .AddHotel h1 {
            width: 90%;
            text-align: left;
            margin: 15px auto;
        }

        .AddHotel p {
            font-size: 17px;
        }

        .AddHotel h1 {
            font-size: 35px;
            margin-bottom: 15px;
        }

        

            .Steps h2 {
                line-height: 1em;
                font-size: 30px;
            }

            .Steps h3 {
                line-height: 1em;
                font-size: 15px;
            }
        .button {
            border-radius: 0px;
            background: #7ACFD6;
            color: white;
        }
    }


@media (max-width: 500px) {
    .Steps {
        width: 70%;
        right: -78%;
    }
}